---
layout: default
title: Déleon Blog
description: Blog de Informática y Ciberseguridad
page_id: 2
---

<ul>
  {% assign site_time = site.time | date: '%s' | plus: 0 %}
  {% for post in paginator.posts %}
    {% assign post_date = post.date | date: '%s' | plus: 0 %}
    {% if site_time >= post_date or site.debug == true %}
      <li id="element">
        <h2>
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            {{ post.title }}
          </a>
        </h2>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
        <p>{{ post.content | strip_html | truncatewords:64 }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
