<footer>
  {%if page.title %}
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
      Página Principal
    </a>
  {% else %}
    <span>
      Github:
      <a href="https://github.com/LawlietJH" target="_blank">
        LawlietJH
      </a>
    </span>
  {% endif %}
  {% if page.page_id and site.debug == false %}
    <script>
      fetch('https://deleonblogrestapi.herokuapp.com/api/visits/{{ page.page_id }}/', {method: 'PATCH'})
      // .then(response => response.json())
      // .then(json => console.log(json))
    </script>
  {% endif %}

</footer>