<footer>
  {%if page.title %}
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
      Página Principal
    </a>
  {% else %}
    <span>
      Github:
      <a href="https://github.com/LawlietJH" target="_blank">
        LawlietJH
      </a>
    </span>
  {% endif %}
  
  {% if page.id %}
    <script>
      fetch('https://deleonblogrestapi.herokuapp.com/api/visits/{{ page.id }}/')
      .then(response => response.json())
      .then(json => console.log(json))
    </script>
  {% endif %}
</footer>