<header>
  <div>
    {% assign owner_first_name = site.owner | split: " " %}
    {% assign base_url = "" %}
    {% if page.category != null %}
      {% assign base_url = page.category | prepend: "/" %}
    {% else %}
      {% if page.title != null %}
        {% assign base_url = page.title | prepend: "/" %}
      {% endif %}
    {% endif %}
    {% if page.title and page.category %}
      <a class="header-block" href="/categories{{ page.category | prepend: '#' }}">
        <dev class="header-subtitle-block">
          root<span class="header-charscolor">@</span>{{ owner_first_name[0] }}<span class="header-charscolor">:~</span>{{base_url}}<span class="header-charscolor">#</span>
          whoami
        </dev>
        <dev class="header-subtitle-block header-charscolor blink">
          |
        </dev>
      </a>
    {% else %}
      <h2 class="header-subtitle">
        {{site.description}}
      </h2>
    {% endif %}
    <a class="header-block" href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
      <h1 class="header-title header-typer-wrapper">
        <span class="header-typer">
          <span class="header-title header-charscolor">❯</span>
          {{site.title}}
        </span>
      </h1>
    </a>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>