{% assign _007 = site.posts | where: "page_id", 7 | first %}{% assign _007_shell = _007.url %}
{% assign _008 = site.posts | where: "page_id", 8 | first %}{% assign _008_origenes_shell = _008.url %}
{% assign _009 = site.posts | where: "page_id", 9 | first %}{% assign _009_software_libre = _009.url %}
{% assign _010 = site.posts | where: "page_id", 10 | first %}{% assign _010_richard_stallman = _010.url %}
{% assign _011 = site.posts | where: "page_id", 11 | first %}{% assign _011_software_fundation = _011.url %}
{% assign _012 = site.posts | where: "page_id", 12 | first %}{% assign _012_licencias_software = _012.url %}
{% assign _013 = site.posts | where: "page_id", 13 | first %}{% assign _013_tipos_licencias_software_libre = _013.url %}
{% assign _014 = site.posts | where: "page_id", 14 | first %}{% assign _014_unix = _014.url %}
{% assign _015 = site.posts | where: "page_id", 15 | first %}{% assign _015_gnu = _015.url %}
{% assign _016 = site.posts | where: "page_id", 16 | first %}{% assign _016_gnu_linux = _016.url %}
{% assign _017 = site.posts | where: "page_id", 17 | first %}{% assign _017_minix = _017.url %}
{% assign _018 = site.posts | where: "page_id", 18 | first %}{% assign _018_linus_torvalds = _018.url %}
{% assign _019 = site.posts | where: "page_id", 19 | first %}{% assign _019_so_familia_unix = _019.url %}
{% assign _020 = site.posts | where: "page_id", 20 | first %}{% assign _020_json = _020.url %}
{% assign _021 = site.posts | where: "page_id", 21 | first %}{% assign _021_api = _021.url %}
{% assign _022 = site.posts | where: "page_id", 22 | first %}{% assign _022_metodos_http = _022.url %}
{% assign _023 = site.posts | where: "page_id", 23 | first %}{% assign _023_api_rest_python_flask = _023.url %}
{% assign _024 = site.posts | where: "page_id", 24 | first %}{% assign _024_codificacion_b64 = _024.url %}
{% assign _025 = site.posts | where: "page_id", 25 | first %}{% assign _025_servidor_proxy = _025.url %}
{% assign _026 = site.posts | where: "page_id", 26 | first %}{% assign _026_memoria_cache = _026.url %}
{% assign _027 = site.posts | where: "page_id", 27 | first %}{% assign _027_emblema_hacker = _027.url %}
{% assign _028 = site.posts | where: "page_id", 28 | first %}{% assign _028_ads = _028.url %}
