<a href="{{ "/archives" | prepend: site.baseurl | replace: '//', '/' }}"><h3 class="header-link header-link-capsule">Archivo</h3></a>
<a href="{{ "/categories" | prepend: site.baseurl | replace: '//', '/' }}"><h3 class="header-link header-link-capsule">Categorías</h3></a>
<a href="{{ "/tags" | prepend: site.baseurl | replace: '//', '/' }}"><h3 class="header-link header-link-capsule">Tags</h3></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h3 class="header-link header-link-capsule">Sobre mí</h3></a>
