/*
   original: https://github.com/pages-themes/hacker 
*/

@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

body {
  margin: 0;
  padding: 0;
  // background: $body-background url("../assets/images/bkg.png") 0 0;
  background: linear-gradient(#1f1f27, #111119);
  // color: $body-foreground;
  color: #d4ffff; //#d7e7eb;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

li {
  line-height: 1.4 ;
}

//--------------------------------------------

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed #6fff00; //header;
  padding: 20px;
  margin: 0 0 40px 0;
}

.header-links {
  text-align: center;
}

.header-link {
  display: inline;
  font-size: 18px;
  font-weight: 300;
  color: #69857f;
}

.header-link:hover {
  color: #6fb2a4;
  text-shadow: 0 0 5px rgba(55, 193, 221, 0.5);
}

header h1,
.header-subtitle {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #6fff00; //#96f400;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
               0 0 5px rgba(181, 232, 83, 0.3),
               0 0 10px rgba(181, 232, 83, 0.3);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h1:hover {
  color: #6fff00;
  // text-shadow: 0 0 5px rgba(181, 232, 83, 0.5);
  text-shadow: 0 0 10px rgba(111, 255, 0, 0.8);
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
  color: #6fff00;
  text-shadow: 0 0 5px rgba(82, 190, 0, 0.8);
}

.header-subtitle,
.header-subtitle-block {
  margin: 10px -6px 0px -6px;
  font-size: 21px;
  color: #6fff00;
  text-shadow: 0 0 5px rgba(82, 190, 0, 0.8);
}

.header-subtitle:hover {
  color: #6fff00;
  text-shadow: 0 0 5px rgba(111, 255, 0, 0.8);
}

.header-subtitle-block {
  display: inline-block;
  vertical-align: middle;
}

.header-block {
  display: block;
  text-align: center;
}

.header-charscolor {
  color: #16c60c;
}

//--------------------------------------------

.blink { animation: blink-animation 1s steps(5, start) infinite; }

@keyframes blink-animation { to { visibility: hidden; } }

//--------------------------------------------

.header-typer-wrapper {
  display: grid;
  place-items: center;
}

.header-typer {
  width: 17px*13;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(40)
}

@keyframes typing { from { width: 0 } }

//--------------------------------------------

body::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: linear-gradient(#111119, #1f1f27);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2e2e39;    /* color of the scroll thumb */
  border-radius: 5px;             /* roundness of the scroll thumb */
  border: 3px solid #000000;    /* creates padding around scroll thumb */
}

//--------------------------------------------

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #6fff00; //$header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
  margin: 0 0 5px;
}

h2.post-title,
h2.tag-head a,
h2.category-head a,
h3.archives-head a {
  color: #6fff00;
}

h2.tag-head a:hover,
h2.category-head a:hover,
h3.archives-head a:hover {
  color: #6fff00;
}

h4.post-tags {
  color: #51d100;
}

h4 a.tag-element {
  color: #52d300;
  text-shadow: 0 0 5px rgba(82, 255, 169, 0.5);
}

h4 a.tag-element:hover {
  color: #62ff00;
  text-shadow: 0 0 5px rgba(111, 255, 161, 0.5);
}

.tag-link-capsule {
  background-color: #161618;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 2px 5px 0px 5px;
}

.tag-mark::before {
  font-family: FontAwesome;
  color: #2bd37c;
  content: "\f02b";
}

.tag-mark:hover::before {
  font-family: FontAwesome;
  color: #49fa9f;
  content: "\f02b";
}

article ul.tag-column-list {
  column-count: 3;
}

//--------------------------------------------

.archives-link-mark::marker {
  font-family: FontAwesome;
  content: "\f101   ";
}

.categories-link-mark::marker {
  color: #00e0b7;
}

.tags-link-mark::marker {
  font-family: FontAwesome;
  color: #00e0b7;
  content: "\f02b  ";
}

.archives-link-capsule,
.categories-link-capsule,
.tags-link-capsule,
.about-link-capsule {
  background-color: #22223a;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
  text-shadow: none;
}

.categories-link-capsule-title,
.tags-link-capsule-title {
  background-color: #001212;
}

.categories-link-capsule-content,
.tags-link-capsule-content {
  background-color: #202035;
}

.header-link-capsule {
  background-color: #161618;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: -1px 5px 0px 5px;
}

.footer-link-capsule {
  background-color: #1f1f27;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
}

//--------------------------------------------

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

time {
  color: #52b797;
}

ul li {
  color: #ddfde9;
}

ul li p {
  color: #d4ffff;
}

p {
  text-align: justify;
}

p strong {
  color: #85f0f0;
}

p em {
  color: #85f0f0;
}

.tabs-textcolor {
  color: #6deb0c;
}

//--------------------------------------------

//Item Level 1
ul li::marker {
  content: "❯ ";
  color: #16c60c;
  font-size: 14px;
}

ul li::marker#element {
  font-size: 21px;
}

//Item Level 2
ul li ul li::marker {
  content: "❯❯ ";
}

//Item Level 3
ul li ul li ul li::marker {
  content: "❯❯❯ ";
}

//Item Level 4+
ul li ul li ul li ul li::marker {
  content: "> ";
}

//--------------------------------------------

blockquote {
  // color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(10, 10, 20, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #6fff00;
  border-radius: 2px;
  // text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

table.dark,
table.dark th,
table.dark td {
  border-spacing: 1px;
  border: 1px solid #005c68;
  margin: 15px 0 15px 0;
  padding: 0%;
  color: #00abc2;
  text-align: center;
  font-weight: bold;
}

table.dark tr.dark-title th,
table.dark tr.dark-title td,
table.dark th.dark-title,
table.dark td.dark-title {
  color: #26ada2;
}

th {
  text-align: left;
  border-bottom: 1px dashed #6fff00;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #62e200;
  color: #62e200;
}

//--------------------------------------------

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  // float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:hover {
  color: #5ad5c0;
  // text-decoration: underline;
  text-shadow: 0 0 5px rgba(104, 255, 210, 0.5);
}

a:active, a:focus {
  outline: 0;
  border: none;
  // -moz-outline-style: none
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

//-------------------------------------------------
/* Make footer stick to bottom */

.footer-github-mark::before {
  font-family: FontAwesome;
  font-size: 55px;
  background-color: #000000;
  border-radius: 50%;
  color: #ffffff;
  content: "\f09b";
}

.footer-hackthebox-mark {
  width: 42px;
  height: 42px;
}

.pagination-change-mark {
  font-size: 26px;
}

.pagination-change-mark span {
  font-size: 15px;
}

.pagination, footer {
  font-size: 18px;
  text-align: center;
}

.pagination {
  line-height: 80px;
}

footer {
  line-height: 50px;
}

footer a {
  color: #8cff00;
  text-shadow: 0 0 5px rgba(200, 255, 111, 0.6);
}

footer a:hover {
  color: #6fff00;
  text-shadow: 0 0 10px rgba(203, 255, 163, 0.9);
}

footer .social {
  margin-top: 20px;
}

footer .copyright {
  font-size: 13px;
}

//-------------------------------------------------

#wrapper {
  min-height: calc(100vh - 100px);
}

.language-txt {
  color: #c3dbe4;
}

dt {
  font-weight: bold;
}

dl,
dd {
  font-size: .9rem;
}

dd {
  margin-bottom: 1em;
}

//-------------------------------------------------

.general-img {
  margin: 0 0 0 10px;
  display: block;
}

.img-glider {
  opacity: 0.7;
  width: 240px;
  margin: 0 0 0 10px;
  display: block;
  filter: invert(0.4) sepia(1) hue-rotate(80deg) saturate(800%);
}

.img-glider:hover {
  filter: invert(0.4) sepia(1) hue-rotate(80deg) saturate(800%) brightness(120%);
}

//-------------------------------------------------
