<!DOCTYPE html>
<html>
{% include head.html %}

{% if page.title == 404 %}
  <body onload="dateTimeInfo()">
{% else %}
  <body>
{% endif %}
  <div id="wrapper">
    {% include header.html %}
    {% include paginator.html %}
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </div>
  {% include paginator.html %}
  {% include footer.html %}
  {% if site.debug == false and site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
  {% if page.title == 404 %}
    <script>
      function dateTimeInfo() {
          var today = new Date().toLocaleString('es-MX', {timeZone: 'America/Mexico_City'});
          document.getElementById('dateTimeInfo').innerHTML = today
          setTimeout(dateTimeInfo, 1000)
      }
    </script>
  {% endif %}
</body>

</html>